*{
    outline: magenta solid 2px;
} 

/* header{
    position: relative;
    height: 50vh;
    width: 100vw;

    background-position: center;
    background-repeat: no-repeat;
    
} */




header{

    width: 100vw;
    height: 350px;

    background-image: url("../vector2-1.png");
    background-repeat: repeat-x;
    background-color: rgb(30, 30, 30);
    background-size: 200px 250px;
    background-position: bottom;

}


#name{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 60px;
    left: 17vw;
    width: 60vw;
    padding: 10px;
   
}




#name-box{
    background-color: rgb(16, 16, 16);
    background-image: url("../vintage-gabriel-weather-vane-vector-illustration-remixed-from-artwork-by-harriette-gale\ 3.png");
    background-size: 100px 60px;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    
}

 
  h2{
    position: absolute;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    
 } 


/*
div{ 
    outline: solid blue 5px;
    display: flex;
    flex-direction:row;
    align-items: right;
   

    p{

        text-align: justify;
    }
}
*/

@media screen and (max-width: 700px){

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #name{
    flex-direction:column;
    justify-content: center;
    align-items:center;
    min-height: fit-content;
    gap: 20px;

    }


   #scrolly{
    
        padding:5vw 0vw 0vw 0vw;
        display: grid;
        grid-auto-columns: 100%;
        grid-auto-flow: column;
        overflow-x: auto;
        overscroll-behavior: contain;
        scroll-snap-type: mandatory;
        scrollbar-width: none;
        scroll-behavior: smooth;
        width: 100%;
        height: 100%;
        

            #jump, #sheep3, #smusic{
                scroll-snap-align: start;
                scroll-snap-stop: always;
                width: 100%;
                height: 100%;
                flex-direction:column;
            }
    }

    
    
    #phone1 > div{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        gap:20px;
        width: 100%;
        height: 100%;
        
        text-align: justify;

        #text1{
            align-self: center;
            width: 80%;
            text-align: justify;
        }

        img{
            width: 100%;
            padding: 0vw;
        }

        
    }

 
 #video1{

        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
       
        width: 20vw;
        height: 20vw;
        gap: 20px;
    }   
    

#div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80vw;
}
}


#scrolly{
  
    display:grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior: contain;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100%;
    height: 35%;
    

    #jump, #sheep3, #smusic{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    }

    img{
        width: 100%;
        object-fit:cover;
    }
}

#video1{

    display: grid;
    align-items: center;
    align-self: stretch;
    
    width: 100%;
    height: 40%;
    gap: 20px;
}



#grid-container{
    outline: green solid 5px;
    display: grid;
    
    padding: 5vw 10vw 5vw 10vw;
    width: 80%;
    height: 100%;
    gap: 20px;


     img{
        width: 100%;
        height: 100%;
        
    }
    
}
  
#main{
    display:inline-grid;
    /*grid: "header header header header" "page page page page" "page page page page" "page page page page" "page page page page" "footer footer footer footer";*/
  
    
}

#grid-container div{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: justify;
}



#linoleum{
    
    /*display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;*/
   /* width: 80vw;*/
    

}

/*

#linoleum > p{

    width: 100%;
    text-align: justify;

}
*/
#crow{
    /*display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;*/
    /*width: 80vw;*/
    
  

}
/*
#crow > p {

    width: 50%;
    text-align: justify;
}
*/
#skeleton{
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;*/
    
    /*width: 75vw;
    gap: 20px;
   

    position: absolute;
    top: 68vh; */
    
}
/*
#skeleton > p{

    width: 37vw;
    text-align: justify;
}
*/
#axe{
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;*/
    
    /*width: 80vw;
    gap: 20px;*/

    

}
/*
#axe > #snakess{
        width: 100%;
        height: 60%;
    }
*/
#trio{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    width: 80vw;
    gap: 20px;
    padding: 5vw 10vw 5vw 10vw;
   

    img{
        width: 100%;
        height: 60%;
    }
}
#deux{

    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-content: center;
    align-items: center;
    gap: 20px;

    
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}

#T{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    align-self: stretch;
    width: 80vw;
    gap: 20px;
    

    img{
        width: 20vw;
        height: 10%;
    }

    p{
        width: 40vw;
        height: 10%;
        text-align: justify;
        
    }
}

#door{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    width: 100%;
    gap: 20px;

   
}

#doorss{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    gap: 20px;
    order: 2;

    img{
        
        width: 50%;
        height: 60%;
        object-fit: cover;
    }

    img:nth-child(2){
        width: 38vw;
        
    }

}

#projectsss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60vw;
    padding: 5vw 20vw 5vw 20vw;

    img{
        width: 25vw;
        
    }

    h3{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}

#projectss2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60vw;
    padding: 5vw 20vw 5vw 20vw;


    img{
        width: 25vw;
    }

}

#projectpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#booklets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80vw;
    padding: 5vw 10vw 5vw 10vw;

    img{
        width: 40vw;
        
        
    }
}

#twobook{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
   
}

#booktext{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#rivalry{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#textbook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 50vw;

    img{
        width: 100%;
    }
}

#glassbook{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;

    width: 30vw;

    img{
        width: 100%;
    }
}


#pamphlet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80vw;
    padding: 5vw 10vw 5vw 10vw;

    img{
        width: 100%;
    }
    
}

#urec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80vw;
    padding: 5vw 10vw 5vw 10vw;

    img{
        width: 100%;
    }
}

#intro{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 80vw;
    
    p{
        width: 20vw;
        text-align: justify;
        justify-content: flex-start;
    }

    img{
        width: 20vw;
        
    }

    #lightbox {
        width: 80%;
       justify-content: flex-end;
    }
}

#newstand{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    text-align: justify;
    width: 20vw;
}

#displays{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 80vw;

    
   

    p{
        width: 30vw;
        text-align: justify;
    }
}

#lightbox{
    width: 50vw;
}

#grouped{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    width: 30vw;
   
}

#golf{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 80vw;

    img{
        width: 100%;
    }
}



#fitness{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80vw;

    img{
        width: 100%;
    }
}

#sporty{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 80vw;

    img{
        width: 100%;
    }
}

#fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    gap: 20px;
    width: 80vw;
    padding: 5vw 28vw 5vw 28vw;
    
}

#names{
   
    width: 40vw;
    background-color: grey;
}

#email{
    width: 40vw;
    background-color: grey;
}

#message{
    width: 40vw;
    height: 28vh;
    background-color: grey;
}

#button{
    width: 15vw;
    height: 5vh;
    background-color: rgb(82, 149, 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0vw 12vw 0vw 12vw;
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding: 0vw 10vw 0vw 10vw;

    img{
        width: 100%;
    }
}

#me{

    width: 50%;
    height: 50%;
    
    clip-path: circle(40vw);

}

#mainglass{
    width: 60%;
    position: absolute;
    left: 40vw;
}

#homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 60vh;

    img{
        width: 11%;
        height: 4%;
    }
}

#mename{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 5vw;
}

#foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 100vw;
    height: 10vh;
    background-color:rgb(16, 16, 16);
    color: white;


}

