*{
    color: white;
  
}

a{
    text-decoration: none;
}

/*a:hover{
    transform: scale(1.5);
}*/

/*font-family: "gil-modern", sans-serif;
font-weight: 400;
font-style: normal; 

font-family: "rhau", sans-serif;
font-weight: 400;
font-style: normal;*/

/*
    font-family: "barteldes-small", serif;
    font-weight: 200;
    font-style: normal;

    font-family: "barteldes-small", serif;
    font-weight: 300;
    font-style: normal;


    font-family: "barteldes-small", serif;
    font-weight: 400;
    font-style: normal;


    font-family: "barteldes-small", serif;
    font-weight: 500;
    font-style: normal;

    font-family: "barteldes-small", serif;
    font-weight: 600;
    font-style: normal;

    font-family: "barteldes-small", serif;
    font-weight: 700;
    font-style: normal;
*/



main{
    margin:0;
    
    background-color:rgb(0, 0, 0);
    
}

body{
    
    margin:0;
}


header{

    width: 100vw;
    height: 300px;
   
    background-image: url("../vector2-1.png");
    background-repeat: repeat-x;
    background-color: rgb(0, 0, 0);
    background-size: 125px 175px;
    background-position: top;
    filter:brightness(20px)
    
}


#name{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -15px;
    left: 2vw;
    width: 30%;
    padding: 0px;

   
}




#name-box{
    /*background-color: rgb(16, 16, 16);
    background-image: url("../vintage-gabriel-weather-vane-vector-illustration-remixed-from-artwork-by-harriette-gale\ 3.png");
    background-size: 0px 0px;
    background-repeat: no-repeat;
    background-position: top;

    position:relative;*/
    
   
    
}

 
  h2{
    position: absolute;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;

   font-family: "rhau", sans-serif;
    font-weight: 400;
    font-style: normal; 

    
 } 

 img{

    display: flex;
    width: 100vw;
    align-items: center;
    gap: 53px;  
    padding: 10vw 0vw 10vw 0vw;

 }


 p{
    text-align: justify;
    padding: 10px 7vw 10px 7vw;
    justify-content: center;
    line-height: 1.8;
    

    font-family: "paradigm-pro", serif;
    font-weight: 300;
    font-style: normal;
 }


 #foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 100vw;
    height: 15vh;
    background-color:rgb(16, 16, 16);
    color: white;

}

 #grid-container{
    display: inline-grid;
    grid-template-columns: 1 1fr;
    align-content: center;
    width: 100vw;
    background-color: rgb(0, 0, 0);
        

        /*padding: 10vw 10vw 10vw 10vw;
        align-items: center;
        justify-content:center;*/
    
}

div{
   
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




@media screen and (min-width:992px){


    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
    }
   

    main{

        margin: 0vw;
    }

   
    #heralds{

        display: flex;
        flex-direction:row;
        padding: 0vw;
        
    }

    #grid-container{
        display: grid;
        grid-template-columns: 2 1fr;
        grid-template-rows: 2 1fr;
       
    }

    img#scrolly{
   
    overflow-x:hidden;
    animation: ease-in 4s;

    img{
        width: 0vw;
        height: 100%;
        object-fit:cover;
    }
    
}

@keyframes slide{
    0% {

        transform: translateX(0vw);
        height: 100%;
    }

     100%{

        transform: translateX(100vw);
        height:100%;
    }
}

    #scrolly {
        display: flex;
        gap: 40px;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
        
        clip-path: fill-box;
        
        width: 80vw;
        height: 60vw;

        img{
            width: 60vw;
            height: fit-content;
            
        
        }

        #sheep3 img{

            width: 70vw;
            height: 45vw;

        }

        #smusic img{

            width: 67vw;
        }
        

    }
    



#fields{

    width: 40vw;
    height: 10vw;
    
    background-color: grey;
}

#about{
    
  display: flex;
  flex-direction: row;
  

   #me{
        clip-path: circle(35%);
    }

    /*#meme p{
        display: flex;
        flex-direction: column;
        width: 40vw;
        padding: 0vw 0vw 10vw 0vw
    }*/
}
 

#name{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -15px;
    left: 0vw;
    width: 200px;
    padding: 0px;
   
}

#twobook, #rivalry, #pamphlet{

    display: flex;
    flex-direction: row;
    width: 80vw;
    padding: 10vw 0vw 10vw 0vw;

    img{
        width: 40vw;
        padding: 8vw 0vw 8vw 0vw;
    }

    p{
       width: 30vw;
        padding:5vw;
    }
    
    #colore, #chocolate{

    width: 80vw;

}

#othertext{ 

    width: 80vw;
}

#headliner {
    padding: 0% 0% 10% 0%;
    width: 80vw;
    align-content: center;
    display: flex;

   
}



#booktext{
    img{
        padding: 5vw 0vw 0vw 0vw;
    }
}

#homepage{
   
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    

    p{
        font-size: 1.5rem;
    }
}


}




h3{
    padding: 5vw;
}

 
#trees {
    display: flex;
    flex-direction: column;

    img{
       width: 80vw; 
    }
    
}

#door{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
    
    width: 80vw;
        
    img{
        width: 40vw;
    }

}   

#door2{
    display: flex;
    flex-direction: column;
    justify-content: left;

    
    img{
        padding: 10vw 0vw 0vw 0vw;
        width: 36vw;
    }

    p{
        width: 30vw;
    }
}



#snakess, #axe, #linoleum, #skeleton, #crow {

    width: 80vw;

    img{
        width: 50%;
        padding: 5vw 0vw;
    }
}


#phone1s, #video1{
    display: flex;
    flex-direction: row;
    justify-self: center;
    padding: 0vw 0vw 0vw 0vw;
    width: 80vw;

    img{
        width: 40vw;
    }
}


#deux{

    img{
        width: 40vw;
        height: 30vw;
        
    }
}
#T{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 40vh;
}

#intro, #displays, #sporty, #dt{
    display: flex;
    flex-direction:row;
    width: 80vw;

    img{
        width: 40vw;
        padding: 5vw 0vw;
    }

    p{
        width: 25vw;
        padding: 0vw 7.5vw;
    }
}

#displays {

    display: flex;
    flex-direction: row;
    width: 80vw;

    img{
        width:40vw;
        height: 30vw;
    }
}
#dt{
    width: 80vw;

    p{
        width: 70vw;
    }
}

#projectsss, #projectss2  {

    
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 0%;
    
    h3{
        position: relative;
        top: -20px;
    }
    
}

#projectss2 div{

   

    img{
        width: 55%;
        padding: 0% 0% 15% 0%;
        
    }

}



video{

    width: 40vw;
    height: 60vw;
    border-radius: 15%;
    justify-content: center;
    padding:0vw 0vw 15vw 0vw;
    
}

#mainglass img{

    position:absolute;
    right: 10vw;

}

.image{

    display: flex;
    flex-direction: row;
    
    position: relative;
    left: 15vw;
    bottom: 15vw;

    h1{
        font-size: 7rem;
        line-height: 7rem;
        position: relative;
        right: 5vw;
        text-align: center;
    }
    
}

.overlay {
    position: fixed;
    top:0%;
    bottom: 40%;
    left: 12.5%;
    right: 0;

    height: 30%;
    width: 30%;
    max-width: 25vw;
    max-height: 25vw;
    opacity: 0;
    transform: rotate(180deg);
    transition: .5s grow;
    border-radius: 100%;
    
}

.overlay2 {
    
    position: fixed;
    height: 30%;
    width: 30%;
    max-width: 26vw;
    max-height: 26vw;
    opacity: 0;
    transform: rotate(180deg);
    transition: .5s grow;
    border-radius: 50%;
    
}

.container:hover .overlay {
  opacity: 5;
  transform: rotate(0deg);
  position: absolute;
    top:23%;
    bottom: 0%;
    left: 12.5%;
    right: 0;

  img{
    filter: blur(4px);
  }

}

.container:hover .overlay2 {
  opacity: 5;
  transform: rotate(0deg);
  position: absolute;
    top:2%;
    bottom: 0%;
    left: 24%;
    right: 0;

  img{
    filter: blur(4px);
  }

}


.text {
  color: white;
  font-size: 20px;
    position: absolute;
    top: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sideinfo{

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    #heralds2{
        position: absolute;
        width: 45%;
        top: 25%;
        right: 70%;

    }


}


}





#heralds1{

    img{
        width: 15vw;
        padding: 0vw;
    }
}




/*mobile*/



h3{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 1.2rem;
    
    font-family: "rhau", sans-serif;
    font-weight: 400;
    font-style: normal;
}




#mainglass{
    width: 75%;
    height:75%;

    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-content: center;
    align-self: center;*/
    
    animation: rotate 40s linear infinite;
    position:static;
    filter:brightness(1.1)
   
}



@keyframes rotate{

    
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}

}

h1{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    font-size: 2.8rem;

    position: relative;
    top: 20px;
    right: 40px;
    
    font-family: "p22-civilite-no30", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    
}

#heralds img {

    width: 20vw;
    height: 12vw;
    display: flex;
    flex-direction: column;
    padding: 15% 0% 0% 0%;

}



#homepage{
   
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 100px;
    

    p{
        font-size: 1.5rem;
    }
}

#projectsss, #projectss2{

    img{
        width: 80%;
    }

    filter: drop-shadow(6px 4px 10px #000000);

}




#homebody{

    background-color: black;
    width: 100%;
    overflow-x: hidden;
}

#typo{

    display: flex;
    flex-direction: column;
    
}
 
#trees{
    display: flex;
    flex-direction: column;
    
}


#twobook, #rivalry, #pamphlet{

    display: flex;
    flex-direction: column;
    
    img{
        padding: 0vw;
    }
}


#intro,  #sporty{
    display: flex;
    flex-direction: column;
}



#names p, #email p, #message p{

    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 10vw;
    
    background-color: grey;
}

#about{
    display: flex;
    flex-direction: column;
    gap: 0vw; 

    #me{
        clip-path: circle(35%);
        padding: 0vw;
    }
    /*
    #meme p{
        width: 80vw;
        padding: 0vw 0vw 0vw 0vw
    }*/
}

video{

    width: 50vw;
}

















.overlay{
    position: absolute;
    top: 15%;
    bottom: 150%;
    left: 12%;
    right: 0%;
    height: 70%;
    width: 75%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 100%;
    background-color:hsla(317, 33%, 52%, 0.81);;
 
}

.container:hover .overlay {
  opacity: 5;

    

}

.container {
  position: relative;
  width: 70%;

}

.text {
  color: white;

    font-family: "rhau", sans-serif;
    font-weight: 200;
    font-style: normal;
  font-size: 30px;
    position: relative;
    bottom:0px;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.overlay2{
    position: absolute;
    top: 16%;
    bottom: 0%;
    left: 13%;
    right: 0%;
    height: 52vw;
    width: 52vw;
    opacity: 0;
    transition: .5s ease;
    border-radius: 100%;
    background-color: hsla(317, 33%, 52%, 0.844);
}

.container:hover .overlay2 {
  opacity: 5;

  img{
    filter: blur(4px);
  }

}


#forms{
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items:center;
    padding: 30px;
    color: black;
}

main#form{
    
    width: 20vw;
    height: 30px;
    padding: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    font-size:1rem;
}

input{

    font-size: 1rem;
}

#heralds2{

    display: flex;
    flex-direction: column;
    
    

    img{
        width: 30%;
        padding: 10% 0% 0% 0%;
    }
}
