*{
    outline: magenta solid 2px;
} 

/* header{
    position: relative;
    height: 50vh;
    width: 100vw;

    background-position: center;
    background-repeat: no-repeat;
    
} */




header{

    width: 100vw;
    height: 350px;

    background-image: url("../vector2-1.png");
    background-repeat: repeat-x;
    background-color: rgb(30, 30, 30);
    background-size: 200px 250px;
    background-position: bottom;

}


#name{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 60px;
    left: 17vw;
    width: 60vw;
    padding: 10px;
   
}




#name-box{
    background-color: rgb(16, 16, 16);
    background-image: url("../vintage-gabriel-weather-vane-vector-illustration-remixed-from-artwork-by-harriette-gale\ 3.png");
    background-size: 100px 60px;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    
}

 
  h2{
    position: absolute;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    
 } 
/*
 img{

    display: flex;
    width: 100vw;
    align-items: flex-start;
    gap: 53px;  

 }*/

 #phone1 > img{

    display: flex;
    flex-direction:row;
    align-items: left;
    gap: 70px;
    align-self: stretch;
    width: 50%;
    height: 30%;
    padding: 5vw 5vw 5vw 10vw;
    
 }

#text1{

    display: flex;
    flex-direction:row;
    align-items: center;
    align-self: stretch;
    
    width: 30%;
    height: 30%;
    padding: 5vw 10vw 5vw 5vw;
    text-align: justify;
 }



div{
    /*outline: solid blue 5px;*/
    display: flex;
    flex-direction:row;
    align-items: right;
    align-self: stretch;
}

#scrolly{

    padding:5vw 5vw 5vw 10vw;
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior: contain;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 90%;
    height: 30%;
    

    #jump, #sheep3, #smusic{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 80%;
    height: 85%;
   
    }

    img{
        width: 100%;
        object-fit:cover;
    }
}

#video1{

    display: flex;
 
    align-items: center;
    align-self: stretch;
    padding: 5vw 10vw 5vw 10vw;
    width: 80%;
    height: 40%;
    gap: 20px;
}

#video1 > div{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    text-align: justify;
    width: 100%;

}

#grid-container{
    outline: green solid 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
    align-self: stretch;
    padding: 5vw 10vw 5vw 10vw;
    width: 80%;
    height: 100%;
    gap: 20px;


     img{
        width: 50%;
        height: 70%;
    }
}

#linoleum{
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    gap: 20px;
    width: 80vw;
    

}


#linoleum > p{

    width: 100%;
    text-align: justify;

}

#crow{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
    width: 80vw;
    gap: 10px;

    position: absolute;
    top: 110vh;
}

#crow > p {

    width: 50%;
    text-align: justify;
}

#skeleton{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    width: 75vw;
    gap: 20px;
   

    position: absolute;
    top: 68vh;
    outline:blue solid 5px;
}

#skeleton > p{

    width: 38vw;
    text-align: justify;
}

#axe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 20px;

    position: relative;
    bottom: 40vh


}
#axe > #snakess{
        width: 100%;
        height: 60%;
    }