#chess-container{

    background-color:darkseagreen;
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    width: 56vh;
    height:56vh;
    gap: 5px;
    padding: 20px;

}

div{

    font-size: 20pt;
    text-align:center;
    align-content: center;
    
}


#chess-container div{

    background-color:darkgreen;
  
}

#chess-container :nth-of-type(odd){

   background-color:green;
   
}

#chess-container :nth-of-type(odd):hover{

   background-color:fuchsia;
   color: white;
}

#chess-container :nth-of-type(even):hover{

   background-color:pink;
   color: white;
}


