:root{

    font-size: 18pt;
}


#grid-container{

    display:grid;
    grid-template-columns: repeat(1, 1fr  minmax(700px, 1000px) 3fr 1fr);
    background-color: hotpink;
    gap: 0.5rem;
    padding: 0.5rem;
    

}

#grid-container div{

    background-color:pink;
    padding: 0.5rem; 

}

/*
#grid-container div:nth-of-type(10) {

    grid-column: 2 / 4;
    grid-row: 3 / 3; 

    grid-column: span 3;
    grid-row: span 2;

    
} */